body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* css code for nav bar*/
.navbar{
    background-color: rgba(118, 100, 90, 0.73);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    position: sticky;
}

/* css code for cover background image*/
.cover{
    background-image: url('https://i.ytimg.com/vi/S439DjXlmX4/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGGUgVChDMA8=&rs=AOn4CLD8YKA75tTDnPxNknT5D9-i-6L-6A');
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 90%;
  }
.heading{
    align-content: center;
    justify-content:space-between;
    align-items: center;
    margin: 10%;

}
.cover2{
    background-color: rgb(229, 224, 216);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    opacity: 80%;
}

.para{
    margin: 20px;
}
.container{
    background-color:white;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;

    display:flex;
    flex-wrap: wrap;
}
.text {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.6vw;
}

.image {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

img {
    margin-top: 10px;
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

/* Media Queries for Responsive Design */

@media screen and (max-width:300px) {
    .container {
        flex-direction: column;
    }

    .text, .image {
        flex: 100%;
    }
}
.container1{
    background-color:rgba(239, 230, 204, 0.641);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}
.container2{
    display:flex;
    flex-wrap: wrap;
}
.imga{
    margin-left: 45px;
    margin-top: 10px;
    max-width:10%;
    margin-bottom: 20px;
}


